RewriteEngine on
RewriteRule ^$ /cark.php [L,R=301]
RewriteCond %{THE_REQUEST} /([^.]+).php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
  
<Limit GET POST> 
order allow,deny 
deny from 000.000.00 
allow from all 
</Limit>